.App-background{
  background-color: #BFC6ED;
  padding: 2%;
  width: 96%;
  height: 82%;
  top: 7%;
  position: absolute;
}

.App-main {
  background-color: #F0F1FB;
  padding: 2%;
  width: 60%;
  height: 90%;
  display:table;
  margin:auto auto;
  border:1px solid #7E8CDB;
}

.App-main h1{
  text-align: center;
}