
.App h1{
  text-align: center;
}

.App-main {
  text-align: center;
  position: absolute;
  left: 40%;
  top: 20%;
  width: 20%;
  height: 12%;
  display: table;
  margin: auto;

  position: absolute;
  padding: 10px;
  border: 1px solid red;
}

.App-DataRaw{
  text-align: center;
  position: absolute;
  left: 20%;
  top: 40%;
  width: 20%;
  height: 25%;
  margin: 0  0;
  padding: 10px;
  border: 1px solid blue;
}

.App-DataRate{
  text-align: center;
  position: absolute;
  left:60%;
  top: 40%;
  width: 20%;
  height: 25%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid blue;

}

.App-DataPercentage{
}